.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "amigos feed feed em_alta"
    "amigos feed feed em_alta";
    grid-template-columns: auto;
    grid-template-rows: max-content;
    gap: 0;
    height: 100vh;
    width: 100vw;
}


header{
    grid-area: header;
}

.feed_section{
    background-color: #0B0B0B;
    grid-area: feed;
    text-align: center;
}

.amigos_section{
    grid-area: amigos;
}

.em_alta_section{
    grid-area: em_alta;
}

footer{
    background-color: #0B0B0B;
    grid-area: footer;
    
}