
.publicacao{
  background-color: #2b292b8e;
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  border-right: solid 5px #FF75EA;
  width: 400px;
 
}

.flex-container-feed{
    display: flex;
    flex-direction: row;
    background-color: #2b292b8e;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    border-right: solid 5px #FF75EA;
    margin: 0.5em;
  }
  
  .descri_img{
    color: white;
    margin:0;
    padding: 0;
    text-align: left;
    margin-left: 2.5%; 
  }
  
  .titulo_musica{
    font-size: large;
    font-weight: bold;
    margin: 0;
  }
  
  .nome_artista{
    color: #cf4a91;
    margin: 0 0 0 0 ;
  }
  
  .nome_album{
   margin: 0;
   margin-top: 3em;
   font-size: 70%;
  }
  
  .visu_count{
    margin: 0;
   margin-top: 3.5em;
   font-size: 70%;
  }
  
  .music_cover_publicacao{
    width: 6.4em;
    height: 6.4em;
    border-radius: 3px;
  }

  
.nome_usuario{
  color: #ffffff;
  margin: 0;
}

.identificador_usuario{
  color: #cf4a91;
  margin: 0;
}

.identificador_usuario:hover{
  text-decoration: underline;
  cursor: pointer;
}

.fotoPerfil_usario{
  width: 8%;
  border-radius: 3px;
}

.perfil_autor_publicacao{
  display: flex;
  flex-direction: row;
}

.credenciais{
  font-size: 70%;
  margin-left: 1.5%;
  text-align: left;
}

.publicacao_conteudo{
  background-color: #141313;
  padding: 1% 3.5% 3.5% 3.5%;
  margin: 2.5%;
  border-radius: 5px;
}
.music_cover_publicacao{
  width: 20%;
  height: 20%;
  border-radius: 3px;
}
.comentario_do_usuario{
  color: #ffffff;
  text-align: left;
  font-size: 80%;
}
.pseudo_estrelas{
  color: #ffffff;
}
.informações_artista{
  color: #ffffff;
  margin-left: 2.5%;
}
.musica_publicacao{
  display: flex;
  flex-direction: row;
  text-align: left;
}

.Nome_artista{
  font-size: 100%;
  margin: 0 0 10% 0;
  text-align: left;
}
.Nome_musica{
  font-size: 80%;
  margin: 0 0 0 0;
  font-weight: lighter;
  text-align: left;
}
.Nome_album{
  font-size: 80%;
  margin: 0 0 0 0;
  font-weight: lighter;
  text-align: left;
}
.checked {
  color: rgb(216, 53, 176);
}

.estrelas-rate{
  margin-bottom: 2%;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}
  