.cabecalho{
    grid-area: header;
    background-color: #0B0B0B;
    height: 10vh;
}
.titulo{
    font-size: 15px;
    font-family: "Bahnschrift";
    color: #fbd8ff;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 0px 0px 7px #FF75EA;
    text-shadow: inset 2px 0px 75px 21px rgb(255, 55, 225);
  }
  
.menu_burger{
    width: 20px;
    height: 20px;
}
.search{
    width: 20px;
    height: 20px;
}

.cabecalho_divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer{
    grid-area: footer;
    background-color: #0B0B0B;
    height: 15vh;
    color: white;
}

.music_infos{
    grid-area: musica_info;
    display: flex;
    flex-direction: row;
    padding: 1em;
    
}
.music_cover_player{
    width: 4em;
    height: 4em;
    
}
.player{
    grid-area: player;
    text-align: center; 
}

.options{
    grid-area: options;
}
