.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "main main main right right"
    "footer footer footer right right";
    grid-template-rows: min-content;

}

.header{
    grid-area: header;
    border: 0;
    height: fit-content;    
}

.feed{
    grid-area: main;
}

.chat{
    grid-area: right;
    background-color: rgba(0, 0, 0, 0.500);
}
.footer{
    grid-area: footer;
}