h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: #ffffff;
    transition: 1s;
    text-align: center;
    margin: 1em;
}

h1:hover{
    text-decoration: underline;
}
.menu_burger{
    width: 1.5em;
    height: 1.5em;
}
.menu_icon_header{
    border: none;
    background: none;
    margin: 1.2%;
}
.menu_lateral{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 15vw;
    height: 88vh;
    background-color: #0B0B0B;

    position: absolute;
    left: -100vw;
    transition: 0.5s;
}

.menu_link{
    border-left: 2px solid  #ffffff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1em;

}

.menu_link:hover{
    border-left: 4px solid  #ffffff;
}


.menu_burger--ativo{
    left: 0;
}

.JukeBOX {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: "Bahnschrift";
    color: #fbd8ff;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 0px 0px 7px #FF75EA;
    text-shadow: inset 2px 0px 75px 21px rgb(255, 55, 225);
}



.paper-plane{
    width: 1em;
    height: 1em;
}
