.item1 {
     grid-area: header; 
}
.item2 {
     grid-area: menu; 
}
.item3 {
     grid-area: main; 
}
.item4 { 
    grid-area: right; 
    background-color: rgba(0, 0, 0, 0.500);
}
.item5 { 
    grid-area: footer; 
}

p {margin: 0;}

body {
    border: none;
    outline: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    background-color: #4f4b4b;
    flex-wrap: wrap;
}

.grid-container{
    text-align: center;
    padding: 0 0;
    /*font-size: 110%;*/
    flex-wrap: wrap;
}

span {
    display: block;
}

.item2 p {
    text-align: left;
}

h1 {margin: 0;}
h2 {margin: 3% 0 0 0;}

    
