#menu_bar {
    background: black;
    color: white;
    height: 50px;
    border-bottom: 2px solid rgb(118, 1, 134);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    background-color: #000000;
    width: 100px;
    margin: 2px;
    height: 42px;
    text-align: center;
    font-size: 30px;
  }

  .flex-container-feed {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container-feed > div {
    background-color: #d64747;
    width: 100px;
    margin: 6px;
    height: 100px;
    text-align: center;
    font-size: 25px;
  }

.descri_img {
  width: 80%;
  text-align: left;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  margin: 2px 0 2px 0;
}

.descri_img_emAlta {
  width: 80%;
  text-align: left;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  margin: 2px 0 2px 0;
}

#titulo_musica {
  font-weight: bold;
}

#nome_artista {font-size: 80%;}

#nome_album {
  font-size: 50%;
}

#visu_count {font-size: 50%;}

